= form_for ([@recipe, @direction]) do |f|
  .form-group
    .well
      .row
        .col-md-9
          = f.label :instruction
      .row
        .col-md-9
          = f.text_area :instruction, rows:4, cols:60
      .form-group.extra-line
        = f.submit 'Save', class: 'save-directions btn btn-info'
