= form_for ([@recipe, @direction]) do |f|
  .form-group
    .col-md-12.col-md-offset-1
      = f.label :instruction, class: 'control-lable'
  .form-group  
    .col-md-10.col-md-offset-1
      = f.text_area :instruction, class: 'form-controll dir-text-area'
  .form-group
    .col-md-3.extra-line.col-md-offset-1
      = f.submit 'Save', class: 'save-directions btn btn-info btn-md'
  