<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to in <span class = 'orange'>2</span> grub, <%= @user.first_name %></h2>
    <p>
      You have successfully signed up to <%= link_to 'in2grub.com', 'http://www.in2grub.com' %>,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      <%= link_to "Log In", "#{@url}/users/sign_in" %>
    </p>
    <p>Thanks for joining and happy cooking!</p> 
  </body>
</html>
