%h2
  Please add your Ingredients for #{@recipe.title}
=image_tag @recipe.photo.url(:thumb) 
=render "form"

:javascript
  $(document).ready(function(){
    $('#new_recipe').submit(function(e){
      $('input[type="text"]').each(function(){
        if($(this).val() == ''){
          $(this).prop('disabled',true);
          $(this).closest('.ingredient').find('select').prop('disabled',true);
        }
       });
    });
  });