.navbar-right
	%h3
		=link_to "Grid View   |   ","#", class: 'grid-view'
		=link_to "   List View","#", class: 'list-view'
- if @search_recipe
	%h4 Search result for #{@search_recipe}
-elsif current_user
	%h4 Your favorite Recipes
	.container
		- @favorite_recipes.each do |r|
			= render "recipe", r: r
	%h4 Your Recipes
-else
	%h1 Recipe List
.container
	- @recipes.each do |r|
		= render "recipe", r: r

:javascript

$(document).ready(function(){
	$('.grid-view').on('click', function(e){
		e.preventDefault();
		$('.recipe.list').removeClass('list').addClass('grid');
	});
});						



