.container
  .well
    =render 'page/slider'
  %h2 
    %span.orange Start
    Creating
    %span.orange Your
    Recipe 
  .well
    .row
      .col-md-6
        =render "form"
      .col-md-6
        =image_tag "chef.jpeg"

