.form-group
  = ff.hidden_field :id
  .col-md-5
    = ff.text_field :item, class: 'form-control', placeholder: 'item'
  .col-md-4
    = ff.text_field :amount, class: 'form-control', placeholder: 'amount'
  .col-md-3
    = ff.select :unit, options_for_select(units), {prompt: "unit"} , {class: 'form-control'}