#da-slider.da-slider
  .da-slide
    %h2
      %i Find simple Recipes
  .da-slide
    %h2
      %i Create your shopping list
  .da-slide
    %h2
      %i Cook Delish Food
  
  %nav.da-arrows
    %span.da-arrows-prev
    %span.da-arrows-next
:javascript
  jQuery(document).ready(function() {
      //App.init();
      //App.initSliders();
      //Index.initParallaxSlider();
      $('#da-slider').cslider({
        autoplay: true,
        interval: 5000
      });
  });
