%h1 Shopping List
.well  
  %table
    %tr
      %th Item
      %th Amount
      %th Unit
    -if @shopping_list
      - @shopping_list.each do |shopping_list|
        %tr
          %td= shopping_list.item
          %td= shopping_list.amount
          %td= shopping_list.unit
      = link_to 'Clear Shopping List', remove_from_cart_path(), method: :put
    -else
      %h4 Your shopping cart is Empty



