.recipe{
	margin: 10px;
	background-color: #3e464b;
	padding: 20px;
}
.grid{
  width: 215px;
  float: left;
  margin: 10px;
  height: 350px;
}
.list{
  width: 100%;
  float: none; 
  .info{
    width: 100%;
    float: left;
  }
  .image{
    float: right;
    margin: 5px; 
  }
}