.recipe{
	margin: 10px;
	background-color: #e4e4e4;
	padding: 20px;
}
.grid{
  width: 300px;
  float: left;
  margin: 10px;
  height: 300px;
}
.list{
  width: 100%;
  float: none; 
  .info{
    width: 80%;
    float: left;
  }
  .image{
    float: right;
    margin: 5px; 
  }
}